body {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(59, 154, 167, 1));
    font-family: 'Playfair', serif;
}
h1 {
    text-align: center;
    font-size: 5em;
}
.intro p {
    text-align: justify;
}